
        <!-- Footer-->
        <footer class="mt-5 py-5 bg-dark">
            <div class="container">
                <div class="row mb-5">
                    <div class="col text-center">
                        <h2 class="mb-3" style="color: white;">BUSINESS</h2>
                        <button type="button" class="btn btn-secondary btn-lg mx-4">견적 받기</button>
                        <button type="button" class="btn btn-secondary btn-lg mx-4">상담 하기</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <p class="m-0 text-center text-white">&copy; 2023 yoonhokang</p>
                    </div>
                  </div>

            </div>
        </footer>