<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OMOnitoring</title>
    <link rel="stylesheet" href="{% static 'monitor/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'monitor/css/base.css' %}" media="screen">
</head>
<body>

    {% include 'monitor/navbar.html' %}


        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-lg-5">
                        <h1 class="display-5 fw-bold mb-5">{{ record }}</h1>
                        {% if record.comment %}
                        <p class="fs-4 mb-3">{{ record.comment }}</p>
                        {% endif %}
                    </div>
                    <a class="btn btn-dark btn btn-lg mx-3 my-2" href="{% url 'monitor_delete' record.pk %}">기록 삭제</a>
                    <a class="btn btn-secondary btn btn-lg mx-3 my-2" href="{% url 'monitor' %}">뒤로 가기</a>
                </div>
            </div>
        </header>
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">펌웨어 버전</h2>
                                <p class="mb-0">{{ record.firmv }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">LED 색상</h2>
                                <p class="mb-0">{{ record.led_color }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">배터리 잔량</h2>
                                <p class="mb-0">{{ record.battery }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">엔코더 펄스</h2>
                                <p class="mb-0">{{ record.encoder }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'monitor/footer.html' %}

    <script src="https://kit.fontawesome.com/c8e2b99a17.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script>
        const md = matchMedia("screen and (max-width:768px)")
        const sm = matchMedia("screen and (max-width:576px)")
        if(md.matches && $(".log-item").hasClass("w-25")){
            $(".log-item").addClass("w-50")
        }
        if(sm.matches && $(".log-item").hasClass("w-50")){
            $(".log-item").addClass("w-100")
        }
        md.addListener((e) => {
            if(e.matches && $(".log-item").hasClass("w-25")){
                $(".log-item").addClass("w-50")
            }
            if(!e.matches && $(".log-item").hasClass("w-50")){
                $(".log-item").removeClass("w-50")
            }
        })
        sm.addListener((e) => {
            if(e.matches && $(".log-item").hasClass("w-50")){
                $(".log-item").addClass("w-100")
            }
            if(!e.matches && $(".log-item").hasClass("w-100")){
                $(".log-item").removeClass("w-100")
            }
        })
        $(() => {
        })
    </script>
</body>
</html>