<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OMOnitoring</title>
    <link rel="stylesheet" href="{% static 'monitor/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'monitor/css/base.css' %}" media="screen">
</head>
<body>

    {% include 'monitor/navbar.html' %}

    <h1 style="height:40px;"></h1>
    <div class="container text-center ">
        <h1 class="mt-5 mb-4">OMOnitoring</h1>
        <div class="d-flex flex-wrap justify-content-start">

          <div class="log-item p-2 w-25">
              <div class="card">
                  <div class="card-img-top card-led" style="background-color:{{ record.led_color }}; height: 50px;"></div>
                  <div class="card-body">
                    <h5 class="card-title current"></h5>
                    <h5 class="card-title">{{record}}</h5>
                    <ul class="card-text" style="list-style-type: none; padding:0;">
                        <li>{{record.firmv}}</li>
                        <li>BAT : {{record.battery}}</li>
                        <li>ENCOD : {{record.encoder}}</li>
                    </ul>
                    <a href="1/" class="btn btn-dark">기록 추가</a>
                  </div>
              </div>
          </div>
          {% for record in records %}
          <div class="log-item p-2 w-25">
              <div class="card">
                  <div class="card-img-top card-led" style="background-color:{{ record.led_color }}; height: 50px;"></div>
                  <div class="card-body">
<!--                    <h5 class="card-title">{{record.created_at}}</h5>-->
                    <h5 class="card-title">{{record}}</h5>
                    <ul class="card-text" style="list-style-type: none; padding:0;">
                        <li>{{record.firmv}}</li>
                        <li>BAT : {{record.battery}}</li>
                        <li>ENCOD : {{record.encoder}}</li>
                    </ul>
                    <a href="1/" class="btn btn-dark">일지 보기</a>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <script src="https://kit.fontawesome.com/c8e2b99a17.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script>
        const md = matchMedia("screen and (max-width:768px)")
        const sm = matchMedia("screen and (max-width:576px)")
        if(md.matches && $(".log-item").hasClass("w-25")){
            $(".log-item").addClass("w-50")
        }
        if(sm.matches && $(".log-item").hasClass("w-50")){
            $(".log-item").addClass("w-100")
        }
        md.addListener((e) => {
            if(e.matches && $(".log-item").hasClass("w-25")){
                $(".log-item").addClass("w-50")
            }
            if(!e.matches && $(".log-item").hasClass("w-50")){
                $(".log-item").removeClass("w-50")
            }
        })
        sm.addListener((e) => {
            if(e.matches && $(".log-item").hasClass("w-50")){
                $(".log-item").addClass("w-100")
            }
            if(!e.matches && $(".log-item").hasClass("w-100")){
                $(".log-item").removeClass("w-100")
            }
        })
        $(() => {
        })
    </script>
</body>
</html>